*.db 

*.h5.*
*.pkl

*.out
outs
outs_tik2

*.png
*.pdf
*.ps
*.eps

*flt_????

.idea/

*.pyc
*.h5
*.odg#

# ~ is for temporary files and directories
~*

*cpython-32mu.so
__pycache__

*.grd



# gmt:
gmt.conf
gmt.history
