# This config file is used to control the dynamic pool.
# 1st column,if_fix, 0-False, dynamic pool; 1-True, static pool
#
# if if_fix == 0 (False)
# 2st column, load, threashold of number of cpus left to load a task
# 3nd column, kill, threashold of number of cpus left to kill tasks
# 4rd column, sleep, sleep time for the next check in sec.
#
# if if_fix == 1 (True)
# 2st column, number of processes
# 3nd column, Not used,
# 4rd column, sleep, sleep time for the next check in sec.
#

# 1 5 None 2
 0  3  1  5
#
# if_fix nproc NONE sleep(sec)
#1 1 None 2


